/* style.css
 *
 * Copyright 2022 Vojtěch Perník
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

.app-sidebar {
    min-width: 250px;
}

.app-sidebar > separator,
.app-sidebar > box {
    margin-left: 6px;
    margin-right: 6px;
}

.content-stack {
    padding: 32px 12px;
}

.playback-controls {
    background-color: @headerbar_bg_color;
    color: @headerbar_fg_color;
    border-top: 1px solid @headerbar_shade_color;
}

.playback-controls .cover {
    background-color: @card_bg_color;
}

.desktop .playback-controls {
    padding: 5px 10px;
}

.desktop .playback-controls .cover {
    border-radius: 6px;
    min-width: 56px;
    min-height: 56px;
}

.mobile .playback-controls .cover {
    min-width: 44px;
    min-height: 44px;
}

.desktop .playback-controls .metadata {
    padding: 5px;
}

.playback-controls .mobile-controls {
    padding: 5px;
}
