.playback-controls {
    background-color: @headerbar_bg_color;
    color: @headerbar_fg_color;
    border-top: 1px solid @headerbar_shade_color;
}

.playback-controls .cover {
    background-color: @card_bg_color;
}

.desktop .playback-controls {
    padding: 5px 10px;
}

.desktop .playback-controls .cover {
    border-radius: 6px;
    min-width: 56px;
    min-height: 56px;
}

.mobile .playback-controls .cover {
    min-width: 44px;
    min-height: 44px;
}

.desktop .playback-controls .metadata {
    padding: 5px;
}

.playback-controls .mobile-controls {
    padding: 5px;
}
